<html>
<head>
  <meta charset="utf-8">
  <title>RouteFellow: Sign in</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sign_in.css') }}">
</head>

<body>
  <div>
      <div class="box">
        <div class="padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
          <h1><a style="color:white; font-size: 45px;" href="" rel="dofollow">RouteFellow</a></h1>
        </div>
          <div class="form-back">
            <div class="padding-horizontal--48">
              <span class="padding-bottom--15">Sign in to your account</span>
              <form method="POST" action="">
                <div class="field padding-bottom--24">
                  <label for="email">Email</label>
                  <input type="email" name="email">
                </div>
                <div class="field padding-bottom--24">
                  <div class="grid--50-50">
                    <label for="password">Password</label>
                  </div>
                  <input type="password" name="password">
                </div>
                <div class="padding-bottom--24">
                </div>
                <div class="field padding-bottom--24">
                  <input type="submit" name="continue" value="Continue">
                </div>
                 <div class="footer padding-top--24">
            <span style="color:black;">Don't have an account? <a style="color:blue;" href="{{url_for('sign_up')}}">Sign up</a></span>
          </div>
              </form>
            </div>
          </div>
        </div>
    </div>
</body>

</html>