body {
    background-image: url("../img/background_search.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    padding-top: 50px;
    padding-left: 0px;
    padding-bottom: 10px;
}

h4 {
    color: white;
    padding-top: 50px;
    padding-bottom: 20px;
}

tr {
    background-color: white;
}

tr {
    background-color: white;
}